body,html{
  font-family: Arial;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
    display: none;
}

#backDivText {
  display: none;
  white-space: nowrap;
}
